.todo{
    
    position: top;
    left: 50%;
    padding: 10px; 
    margin: 10px; 
    border: 11px solid black; 
    float: left; 
    width: 250px;
}
.otross{

    position:top ;
    left: 50%;
    padding: 10px; 
    margin: 10px; 
    border: 11px solid black; 
    float: left; 
    width: 250px;
}

.todos{
    position: absolute;
    width: 300px;
    left: 50%;
}