.carddd{
    
    position: top;
    left: 50%;
    padding: 10px; 
    margin: 10px; 
    border: 11px solid black; 
    float: left; 
    width: 250px;

}

.cardt{
    

    position: top;
    left: 50%;
    padding: px; 
    margin: 10px; 
    border: 11px solid black; 
    float: left; 
    width: 250px;
    
    
}